@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

section {
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px
}

/*nvabar*/

nav {
    background-color: #1E00FF;
    color: white;
    display: flex;
    align-items: center;
    height: 60px;
}

.rainbow-container {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
}

.rainbow-text {
    display: inline-block;
    animation: scroll-left 20s linear infinite;
    color: white;
    font-size: 14px;
    margin: 0;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.menu-list {
    margin: 0 15px;
    position: relative;
}

.menu-title {
    font-size: 16px;
    margin: 0;
    padding: 5px 0;
    cursor: pointer;
}

.menu-underline {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #8FC31F;
    transition: width 0.3s ease;
}

.menu-list:hover .menu-underline {
    width: 100%;
}

/*about-plan*/

.about-plan {
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

.main-logo {
    margin-bottom: 20px;
}

    .main-logo img {
        max-width: 100%;
        height: auto;
    }

.event-idea {
    aspect-ratio: 1440 / 610.87;
    background-image: url('../images/backgrounds/event-idea.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 30px;
}

.event-content {
    max-width: 1440px;
    margin: 0 auto;
}

.event-description {
    width: 60%;
    font-size: 18px;
    margin: 20px auto;
    padding: 20px;
}

.rainbow-blocks {
    width: 70%;
    margin: 15px auto;
}

    .rainbow-blocks img {
        max-width: 100%;
        height: auto;
    }

.about-button {
    display: inline-block;
    margin: 30px;
    padding: 8px 16px;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

    .about-button:hover {
        background-color: #ffffff;
        color: #000000;
    }

/*annul-party*/
.annual-party {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-weight: 600
}

.party-time {
    text-align: center;
    margin-bottom: 40px;
}

.year {
    font-family: Inter, sans-serif;
    font-style: italic;
    letter-spacing: 1.92px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.party-title {
    font-family: Inter, sans-serif;
    font-style: italic;
    letter-spacing: 1.92px;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.date {
    font-family: Bookman Swash;
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 20px;
}

    .date .day {
        font-family: Gen Jyuu Gothic, sans-serif;
        font-size: 24px;
        border-radius: 48px;
        border: 1px solid #000;
        display: inline-block;
        width: 60px;
        height: 60px;
        line-height: 60px;
    }

    .date .day-of-week {
        font-family: Gen Jyuu Gothic, sans-serif;
        font-size: 24px;
        justify-content: center;
    }

    .location {
        font-size: 18px;
    }

.party-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.party-item {
    width: 18%;
    text-align: center;
    margin-bottom: 20px;
}

.item-image {
    aspect-ratio: 180.96 / 276.48;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

    .item-image span {
        font-size: 48px;
        color: #fff;
    }

.item-title {
    font-size: 14px;
}


/*partner*/
.partner-section {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

    .partner-section h2 {
        font-family: Bodoni Bd BT;
        letter-spacing: 4.92px;
        font-size: 2.5rem;
        margin-bottom: 5px;
    }

.partner-carousel {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    height: 600px; /* 增加高度 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-inner {
    width: 100%;
    max-width: 400px; /* 限制卡片寬度 */
}

.carousel-item {
    height: 600px;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

    .carousel-item h3 {
        height: 60px;
        color: #fff;
        text-align: center;
        letter-spacing: 4.8px;
        font: 700 24px/30px Gen Jyuu Gothic, -apple-system, Roboto, Helvetica, sans-serif;
        -webkit-text-stroke: 1px #000;
        margin-bottom: 15px;
        font-size: 1.8rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carousel-item .image-container {
        width: 100%;
        height: 300px;
        overflow: hidden;
        border-radius: 15px;
        margin-bottom: 15px;
    }

    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carousel-item p {
        color: #000;
        letter-spacing: 0.61px;
        margin-top: 20px;
        font: 800 18px Gen Jyuu Gothic, sans-serif;
        line-height: 1.5;
    }

.carousel-control-prev,
.carousel-control-next {
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    opacity: 0.8;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/*support-plan*/
.support-plan {
    background-color: #0000FF; /* 藍色背景 */
    font-family: 'Bodoni MT';
}

    .support-plan h1 {
        letter-spacing: 6.92px;
        font-weight: bolder;
    }

    .support-plan .card {
        background-color: #0000FF;
        border: none;
        height: 100%;
        margin-bottom: 20px;
    }

    .support-plan .card-body {
        color: #fff;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        width: 80%;
        height: 25vw;
        margin: 0 auto;
    }

    .support-plan .card-title {
        justify-content: center;
        align-items: center;
        width: 100%;
        white-space: nowrap;
        text-align: center;
        letter-spacing: 9.6px;
        padding: 8px;
        font: 900 2rem Gen Jyuu Gothic P, -apple-system, Roboto, Helvetica, sans-serif;
    }

    .support-plan .card1 {
        border: 5px solid #8fc31f;
        -webkit-text-stroke: 0.8px #8fc31f;
    }

    .support-plan .card2 {
        border: 5px solid #EA723D;
        -webkit-text-stroke: 0.8px #EA723D;
    }

    .support-plan .card3 {
        border: 5px solid #E876D6;
        -webkit-text-stroke: 0.8px #E876D6;
    }

    .support-plan .list-styled {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

        .support-plan .list-styled li {
            margin: 5px 0;
            text-align: left;
            font-size: 1.5rem;
            letter-spacing: 3px;
        }

        .plan-info {
            background-color: #0000FF;
            padding: 20px;
        }

.plan-price {
    margin-bottom: 10px;
    letter-spacing: 0.6rem;
    padding: 0 20px;
    font: 700 1.9rem Gen Jyuu Gothic P, sans-serif;
}
.green-text {
    color: #8fc31f;
}

.oringe-text {
    color: #EA723D;
}

.pink-text {
    color: #E876D6;
}

.plan-stock {
    color: #fff;
    font: 600 1.8rem Gen Jyuu Gothic P, sans-serif;
    letter-spacing: 0.3rem;
}

.product-tabs {
    position: relative;
    width: 90%;
}

.nav-pills {
    background-color: #8fc31f;
    border-radius: 55px;
    height: 70px;
    padding: 5px;
    position: relative;
    z-index: 2;
}

    .nav-pills .nav-item {
        padding: 0;
    }


    .nav-pills .nav-link {
        width: 100%;
        height: 100%;
        color: white;
        font-size: 28px;
        letter-spacing: 5px;
        border-radius: 40px;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
    }

        .nav-pills .nav-link.active {
            background-color: white;
            color: #0000FF;
            font-weight: bolder;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }


.triangle-indicator {
    position: relative;
    bottom: 5px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 40px solid #fff;
    transition: left 0.3s ease;
    z-index: 3;
}

.product-info {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: -5px; /* 使白色背景與三角形重疊 */
    position: relative;
    z-index: 1;
}

    .product-info p {
        font: 600 1.4rem Gen Jyuu Gothic P, sans-serif;
        word-wrap: break-word; /* 允許長單詞斷行 */
        overflow-wrap: break-word; /* 現代瀏覽器優先使用這個屬性 */
        white-space: normal; /* 確保文本正常換行 */
        text-align: left; /* 文本左對齊 */
        max-width: 100%; 
        line-height: 2rem;
    }

    .product-info img {
    }



/* 響應式設計 */
@media (max-width: 768px) {
    .event-idea {
        padding: 30px 15px;
    }

    .event-description {
        font-size: 16px;
    }

    .about-button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .product-info {
        flex-direction: column;
    }

        .product-info img {
            margin-right: 0;
            margin-bottom: 20px;
        }
}

@media (max-width: 480px) {
    .event-idea {
        padding: 20px 10px;
    }

    .event-description {
        font-size: 14px;
    }

    .about-button {
        font-size: 12px;
        padding: 6px 12px;
    }
}